<mat-toolbar color="primary">
  <span>My Review App</span>
  <span class="spacer"></span>
  <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
    <a mat-button routerLink="/signup">Sign Up</a>
    <a mat-button routerLink="/login">Log In</a>
  </ng-container>
  <ng-template #loggedIn>
    <a mat-button (click)="logout()">Log Out</a>
  </ng-template>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button *ngIf="authService.isAuthenticated()" routerLink="/protected">Protected Page</a>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
