<!-- src/app/log-in/log-in.component.html -->
<mat-card>
  <h2>Log In</h2>
  <form (ngSubmit)="logIn()">
    <mat-form-field appearance="fill">
      <input matInput type="email" placeholder="Email" [(ngModel)]="username" name="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Log In</button>
  </form>
</mat-card>
